{% extends 'base.html' %}

{% load static %}

{% block title %}{{block.super}} | Kategori Ekleme Sayfası {% endblock title  %}

{% block maincontent %}
    <h3>Kategori Ekleyin</h3>
    <form id = 'category_form' method = 'post' action = '/rango/add_category/'>
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            <p>{{ hidden }}</p>
        {% endfor %}

        {% for field in form.visible_fields %}
            <p>{{ field.errors }}</p>
            <p>{{ field.help_text }}</p>
            <p>{{ field }}</p>
        {% endfor %}

        <input type = 'submit' name = 'submit' value = 'Kategori Oluştur' />
    </form>
{% endblock maincontent %}
