{% extends 'base.html' %}

{% load static %}

{% block title %}{{block.super}} | Başlangıç Sayfası{% endblock %}
# burada bir değişiklik yapıyorum.

{% block maincontent %}
    <h3>Ana Sayfa</h3>
    {% if categories %}
        <h4>Kategori Listesi</h4>
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>Listelenecek herhangi bir categori yok.</strong></p>
    {% endif %}
    <p><a href='/rango/about/'>Hakkımızda</a> sayfasına ulaşabilirsiniz.</p>
{% endblock %}
